<div class="footer-container">
  <div class="form-name-container">
    <span class="form-name">{{ formName }}</span>
  </div>
  <div class="controls">
    <span class="control-names">OPTIONS</span>
    <span class="control-names">SEARCH</span>
    <span class="control-names" (click)="save()">SAVE</span>
    <span class="control-names">DELETE</span>
    <span class="control-names" (click)="reset()">RESET</span>
    <span class="control-names">PRINT</span>
    <span class="control-names">EXPORT</span>
  </div>
</div>
