$font-family: Heebo;
$font-family-roboto: Roboto;
$font-weight: (
	'regular': 500,
	'medium': 600,
	'bold': 700
);

/* COLORS */
$white: #fff;
$grey: #808080;
$lighter-grey: #ebebeb;
$black: #111;
$milky-white: #f7f9fa;

/* COLORS */
// $secondary-btn-hover: #eceef1;
// $secondary-btn-text: #454f5b;

// $black: #111;
// $midnight-black: #26313d;
// $dark-grey: #919eab;
// $tuna: #474a4f;
// $snow-grey: #f9f9f9;
// $off-white: #f6f6f6;
// $light-grey: #c4cdd5;
// $off-grey: #eceef1;
// $milky-white: #f7f9fa;
// $border: #c4cdd5;
// $border-light-grey: #f3f3f3;
// $text-grey: #454f5b;
// $text-light-grey: #637381;
// $light-black: #212b35;
// $light-grey: #707e8d;
